<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Sessions</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .div-with-borders {
            border-top: 1px solid black;
            border-bottom: 1px solid black;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>All Sessions</h1>
        <ul id="sessionsList">
            <!-- Список всех сессий будет отображаться здесь -->
        </ul>
    </div>

    <script>
        // Загрузим все сессии при загрузке страницы
        fetch(`/api/Session/GetAll`,
            {
                method: 'GET',
                headers: {
                    'Authorization': `Bearer ${localStorage.getItem('jwtToken')}`,
                }
            })
            .then(response => response.json())
            .then(sessions => {
                const sessionsList = document.getElementById("sessionsList");
                sessions.forEach(session => {
                    const sessionItem = document.createElement("li");
                    sessionItem.setAttribute("class", "div-with-borders");
                    sessionItem.innerHTML = `
                            <a href="sessionDetail?id=${session.id}">${session.play.name} in ${session.hall.name} <br>at ${session.dateFrom}</a>
                        `;
                    sessionsList.appendChild(sessionItem);
                });
            });
    </script>
</body>
</html>
